<!DOCTYPE html>
<html ng-app="app3">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id='groceries-list' ng-controller="ctrl3">
      <h3 class="ListTitle">{{groceriers.length}} things to buy</h3>

      <ol>
        <li ng-repeat='item in groceriers' ng-click='updatePurchased($index)'>
          <span> {{item.item}} </span>
          <p> {{item.purchased}}

        </li>
      </ol>

      <label> Change 1st Item: </label>
      <input ng-model="groceriers[0].item"/>

      <h3> Shopping List </h3>
      <!-- <div ng-include="'ulshoppingList.html'"></div> -->

      <label>
      <input type="checkbox" ng-model="showList">
      Show Unorderded List
      </label>
      <ng-include src="getList()"></ng-include>

      <label> Type a number (1-4):
        <input type="text" ng-model="someNumber"/>
      </label>
      <div ng-switch="someNumber">
        <p ng-switch-when="1"> You entered 1 </p>
        <p ng-switch-when="2"> You entered 2 </p>
        <p ng-switch-when="3"> You entered 3 </p>
        <p ng-switch-when="4"> You entered 4 </p>
        <p ng-switch-default="1"> Not following directions </p>
      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <!-- Load the JS Module -->
    <script src="js/exam3.js"></script>
  </body>
</html>
