<!-- Define the ng-app parameter in the root element so AngularJS
knows where to begin compiling. app1 is the module name and is referenced
in the JS file we will create -->

<!-- ng-init is a directive that initializes application data by assigning
variable values -->
<html>
  <head>
    <title>AngularJS Tutorial</title>
  </head>
  <body ng-app="app1" ng-init="person = {fName: 'Derek', lName: 'Banas'};
    capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Juneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">
    <!-- saying that this div is going to be a view  -->
    <div ng-controller='ctrl1'>

      <span> Values: </span>
      <input type='text' ng-model="first"/>
      <input type='text' ng-model="second"/>

      <button ng-click="updateValue()"> Sum</button>
      <br></br>

      {{calculation}}
      <ul>
        <li ng-repeat="capital in capitals">
          {{"City:"+ capital.city}};
        </li>
      </ul>
    </div>

    <a href="./angulartut2.html"> Second Tutorial Page </a>
    <a href="./angulartut3.html"> Third Tutorial Page </a>



    <!-- Load the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

    <!-- Load the JS Module -->
    <script src="js/exam1.js"></script>
  </body>
  </html>
